#content {
    width: 760px ;
    margin-left: auto ;
    margin-right: auto ;
    display: block;
    overflow: hidden;
}

h1, h2 {
    text-align: center;
}

table.showTable {
    width: 760px;
    border-collapse: collapse;
    margin:50px auto;
}

/* Zebra striping */
table.showTable tr:nth-of-type(odd) {
    background: #eee;
}

table.showTable th {
    background: #3498db;
    color: white;
    font-weight: bold;
}

table.showTable td, th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
}

.selectMenu{
    margin: 1px auto;
}