<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<ui:insert name="header">
    <ui:include src="cssLinks.xhtml"/>
</ui:insert>
<f:view>
    <ui:insert name="header">
        <ui:include src="header.xhtml"/>
    </ui:insert>
    <div id="content">
        <h1>Přidat autorovi smlouvu s nakladatelstvím</h1>
        <h:form>
            <div class="box">
                <h2>Vyberte autora</h2>
                <h:panelGrid columns="1">

                    <h:selectOneMenu value="#{authorContractPublisherController.newAuthorCId}">
                        <f:selectItem itemLabel="-- vyberte autora--" itemValue="" />
                        <f:selectItems value="#{authors}" var="author"
                                       itemLabel="Id: #{author.id}, jméno: #{author.surname} #{author.name},
                                        adresa:  #{author.dateOfBirth}" itemValue="#{author.id}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
            </div>

            <div class="box">
                <h2>Vyberte nakladatelství</h2>
                <h:panelGrid columns="1">

                    <h:selectOneMenu value="#{authorContractPublisherController.newPublisherCId}">
                        <f:selectItem itemLabel="-- vyberte nakladatelství--" itemValue="" />
                        <f:selectItems value="#{publishers}" var="publisher"
                                       itemLabel="Id: #{publisher.id}, jméno: #{publisher.name}, adresa:
                                       #{publisher.address}" itemValue="#{publisher.id}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
            </div>


                <h:panelGrid columns="2">
                    <h:commandButton id="register"
                                     action="#{authorContractPublisherController.registerAuthorContractPublisher}"
                                     value="Přidat smlouvu" styleClass="register"/>
                    <h:messages styleClass="messages"
                                errorClass="invalid" infoClass="valid"
                                warnClass="warning" globalOnly="true"/>
                </h:panelGrid>


        </h:form>
        <h2>Autor se svými uzavřenými smlouvami s nakladatelstvími</h2>
            <p:dataTable var="_member"
                         value="#{authorRegistrationController.authors}"
                         styleClass="showTable">
                <p:columnGroup type="header">
                    <p:row>
                        <p:column headerText="Id" />
                        <p:column headerText="Jméno" />
                        <p:column headerText="Adresa" />
                    </p:row>
                </p:columnGroup>
                <p:subTable var="_publ" value="#{_member.publishers}">
                    <f:facet name="header">
                        <h:outputText value="Autor: #{_member.surname} #{_member.name}, narozen: #{_member.dateOfBirth}"/>
                    </f:facet>
                    <p:column>
                        #{_publ.id}
                    </p:column>
                    <p:column>
                        #{_publ.name}
                    </p:column>
                    <p:column>
                        #{_publ.address}
                    </p:column>
                </p:subTable>
            </p:dataTable>

        <h2>Nakladatelství se svými uzavřenými smlouvami s autorami</h2>

        <p:dataTable var="_publisher"
                     value="#{publisherRegistrationController.publishers}"
                     styleClass="showTable">
            <p:columnGroup type="header">
                <p:row>
                    <p:column headerText="Id" />
                    <p:column headerText="Jméno" />
                    <p:column headerText="Příjmení" />
                    <p:column headerText="Datum narození" />
                </p:row>

            </p:columnGroup>
            <p:subTable var="_author" value="#{_publisher.authors}">
                <f:facet name="header">
                    <p:outputLabel value="Nakladatelství: #{_publisher.name}, adresa: #{_publisher.address}"/>
                </f:facet>
                <p:column>
                    #{_author.id}
                </p:column>
                <p:column>
                    #{_author.surname}
                </p:column>
                <p:column>
                    #{_author.name}
                </p:column>
                <p:column>
                    #{_author.dateOfBirth}
                </p:column>
            </p:subTable>
        </p:dataTable>
    </div>
</f:view>
</html>
