<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:insert name="header">
    <ui:include src="cssLinks.xhtml"/>
</ui:insert>
<f:view>
    <ui:insert name="header">
        <ui:include src="header.xhtml"/>
    </ui:insert>
    <div id="content">
        <h:form>
            <h2>Vytvoř autora</h2>
            <h:panelGrid columns="3">
                <h:outputLabel for="surname">Jméno:</h:outputLabel>
                <h:inputText id="surname" value="#{newAuthorR.surname}"/>
                <h:message for="surname" errorClass="invalid"/>

                <h:outputLabel for="name">Příjmení:</h:outputLabel>
                <h:inputText id="name" value="#{newAuthorR.name}"/>
                <h:message for="name" errorClass="invalid"/>

                <h:outputLabel for="dateOfBirth">Datum narození:</h:outputLabel>
                <h:inputText id="dateOfBirth" value="#{newAuthorR.dateOfBirth}"/>
                <h:message for="dateOfBirth" errorClass="invalid"/>

                <h:outputLabel for="email">E-mail:</h:outputLabel>
                <h:inputText id="email" value="#{newAuthorR.email}"/>
                <h:message for="email" errorClass="invalid"/>
            </h:panelGrid>
            <p>
                <h:panelGrid columns="2">
                    <h:commandButton id="registerLib"
                                     action="#{authorRegistrationController.registerAuthor}"
                                     value="Vytvořit" styleClass="register"/>
                    <h:messages styleClass="messages"
                                errorClass="invalid" infoClass="valid"
                                warnClass="warning" globalOnly="true"/>
                </h:panelGrid>

            </p>
        </h:form>

        <h:dataTable var="_member"
                     value="#{authorRegistrationController.authors}"
                     styleClass="showTable">
            <h:column>
                <f:facet name="header">Id</f:facet>
                #{_member.id}
            </h:column>
            <h:column>
                <f:facet name="header">Jméno</f:facet>
                #{_member.surname}
            </h:column>
            <h:column>
                <f:facet name="header">Příjmení</f:facet>
                #{_member.name}
            </h:column>
            <h:column>
                <f:facet name="header">Datum narození</f:facet>
                #{_member.dateOfBirth}
            </h:column>
            <h:column>
                <f:facet name="header">Email</f:facet>
                #{_member.email}
            </h:column>

            <h:column>
                <f:facet name="header">REST URL</f:facet>
                <a href="#{request.contextPath}/rest/authors/#{_member.id}">/rest/authors/#{_member.id}</a>
            </h:column>
            <f:facet name="footer">
                REST URL for all authors: <a href="#{request.contextPath}/rest/authors">/rest/authors</a>
            </f:facet>

        </h:dataTable>
    </div>
</f:view>
</html>
