<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<ui:insert name="header">
    <ui:include src="cssLinks.xhtml"/>
</ui:insert>
<f:view>
    <ui:insert name="header">
        <ui:include src="header.xhtml"/>
    </ui:insert>
    <div id="content">
        <h1>Přidat knihu do knihovny</h1>
        <h:form>
            <div class="box">
                <h2>Vyberte knihu</h2>
                <h:panelGrid columns="2">

                    <h:selectOneMenu value="#{bookToLibraryRegistrationController.newBookId}">
                        <f:selectItem itemLabel="-- vyberte knihu--" itemValue="" />
                        <f:selectItems value="#{books}" var="book"
                                       itemLabel="Id: #{book.id}, isbn: #{book.isbn} , #{book.name}, #{book.title}
                                        " itemValue="#{book.id}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
            </div>

            <div class="box">
            <h2>Vyberte knihovnu</h2>
            <h:panelGrid columns="2">

                <h:selectOneMenu value="#{bookToLibraryRegistrationController.newLibraryId}">
                    <f:selectItem itemLabel="-- vyberte knihovnu--" itemValue="" />
                    <f:selectItems value="#{libraries}" var="library"
                                   itemLabel="Id: #{library.id}, #{library.name},  #{library.address}" itemValue="#{library.id}"/>
                </h:selectOneMenu>
            </h:panelGrid>
            </div>
            <h:panelGrid columns="2">
                <h:commandButton id="register"
                                 action="#{bookToLibraryRegistrationController.registerBookToLibrary}"
                                 value="Přidat knihu do knihovny" styleClass="register"/>
                <h:messages styleClass="messages"
                            errorClass="invalid" infoClass="valid"
                            warnClass="warning" globalOnly="true"/>
            </h:panelGrid>
        </h:form>

        <h2>Knihovna se svými knihami</h2>
        <p>
            <p:dataTable var="_member"
                         value="#{libraryRegistrationController.libraries}"
                         styleClass="showTable">
                <p:columnGroup type="header">
                    <p:row>
                        <p:column headerText="Id" />
                        <p:column headerText="ISBN" />
                        <p:column headerText="Jméno" />
                        <p:column headerText="Žánr" />
                        <p:column headerText="Datum vydání" />
                    </p:row>
                </p:columnGroup>
                <p:subTable var="_book" value="#{_member.books}">
                    <f:facet name="header">
                        <h:outputText value="Knihovna: #{_member.name}, Adresa: #{_member.address}" />
                    </f:facet>
                    <p:column>
                        #{_book.id}
                    </p:column>
                    <p:column>
                        #{_book.isbn}
                    </p:column>
                    <p:column>
                        #{_book.name}
                    </p:column>
                    <p:column>
                        #{_book.title}
                    </p:column>

                    <p:column>
                        #{_book.publishDate}
                    </p:column>

                </p:subTable>
            </p:dataTable>
        </p>

    </div>
</f:view>
</html>
