<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<ui:insert name="header">
    <ui:include src="cssLinks.xhtml"/>
</ui:insert>
<f:view>
    <ui:insert name="header">
        <ui:include src="header.xhtml"/>
    </ui:insert>
    <div id="content">
        <h:form>
            <h2>Vytvoř knihu</h2>
            <h:panelGrid columns="3">
                <h:outputLabel for="isbn">ISBN:</h:outputLabel>
                <h:inputText id="isbn" value="#{newBookR.isbn}"/>
                <h:message for="isbn" errorClass="invalid"/>

                <h:outputLabel for="name">Jméno:</h:outputLabel>
                <h:inputText id="name" value="#{newBookR.name}"/>
                <h:message for="name" errorClass="invalid"/>

                <h:outputLabel for="title">Žánr:</h:outputLabel>
                <h:inputText id="title" value="#{newBookR.title}"/>
                <h:message for="title" errorClass="invalid"/>

                <h:outputLabel for="publishDate">Datum vydání:</h:outputLabel>
                <h:inputText id="publishDate" value="#{newBookR.publishDate}"/>
                <h:message for="publishDate" errorClass="invalid"/>
            </h:panelGrid>

            <div class="box">
                <h2>Vyberte nakladatelství</h2>
                <h:panelGrid columns="2">

                    <h:selectOneMenu value="#{bookRegistrationController.publisherBkId}">
                        <f:selectItem itemLabel="-- vyberte nakladatelství--" itemValue=""/>
                        <f:selectItems value="#{publishers}" var="publisher"
                                       itemLabel="Id: #{publisher.id}, jméno: #{publisher.name}, adresa:  #{publisher.address}"
                                       itemValue="#{publisher.id}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
            </div>
            <div class="box">
                <h2>Vyberte autora</h2>
                <h:panelGrid columns="2">

                    <h:selectOneMenu value="#{bookRegistrationController.authorBkId}">
                        <f:selectItem itemLabel="-- vyberte autora--" itemValue="" />
                        <f:selectItems value="#{authors}" var="author"
                                       itemLabel="Id: #{author.id}, jméno: #{author.surname} #{author.name},
                                        adresa:  #{author.dateOfBirth}" itemValue="#{author.id}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
            </div>

            <p>
                <h:panelGrid columns="2">
                    <h:commandButton id="registerLib"
                                     action="#{bookRegistrationController.registerBook}"
                                     value="Vytvořit" styleClass="register"/>
                    <h:messages styleClass="messages"
                                errorClass="invalid" infoClass="valid"
                                warnClass="warning" globalOnly="true"/>
                </h:panelGrid>
            </p>
        </h:form>

        <h:dataTable var="_member"
                     value="#{bookRegistrationController.books}"
                     styleClass="showTable">
            <h:column>
                <f:facet name="header">Id</f:facet>
                #{_member.id}
            </h:column>
            <h:column>
                <f:facet name="header">ISBN</f:facet>
                #{_member.isbn}
            </h:column>
            <h:column>
                <f:facet name="header">Jméno</f:facet>
                #{_member.name}
            </h:column>
            <h:column>
                <f:facet name="header">Žánr</f:facet>
                #{_member.title}
            </h:column>
            <h:column>
                <f:facet name="header">Datum vydání</f:facet>
                #{_member.publishDate}
            </h:column>
        </h:dataTable>

        <h2>Knih se svými autory</h2>
        <p:dataTable var="_publisher"
                     value="#{bookRegistrationController.books}"
                     styleClass="showTable">
            <p:columnGroup type="header">
                <p:row>
                    <p:column headerText="Id" />
                    <p:column headerText="Jméno" />
                    <p:column headerText="Příjmení" />
                    <p:column headerText="Datum narození" />
                </p:row>
            </p:columnGroup>
            <p:subTable var="_author" value="#{_publisher.authors}">
                <f:facet name="header">
                    <p:outputLabel value="Kniha: #{_publisher.name}, adresa: #{_publisher.isbn}"/>
                </f:facet>
                <p:column>
                    #{_author.id}
                </p:column>
                <p:column>
                    #{_author.surname}
                </p:column>
                <p:column>
                    #{_author.name}
                </p:column>
                <p:column>
                    #{_author.dateOfBirth}
                </p:column>
            </p:subTable>
        </p:dataTable>
    </div>
</f:view>
</html>
