<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:view>
    <ui:composition>
        <h:head>
            <link rel="stylesheet" href="../resources/css/main.css"/>
            <link rel="stylesheet" href="../resources/css/form.css"/>
            <link rel="stylesheet" href="../resources/css/menu.css"/>
        </h:head>
    </ui:composition>
</f:view>
</html>
