<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <ui:composition>
        <div style="background:#0099cc; font-size:22px; text-align:center; color:#FFF; font-weight:bold; height:100px; padding-top:50px;">
            Semestrální práce - Filip Sedliský
        </div>
        <div id="wrap">
                <div class="inner relative">
                    <div id="height"></div>
                    <div id="navigation">
                        <ul id="main-menu">
                            <li>
                                <a href="index.xhtml">Domů</a>
                            </li>
                            <li class="parent">
                                <a href="">Vytvoř</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="AuthorRegistration.xhtml">Vytvoř autora</a>
                                    </li>
                                    <li>
                                        <a href="LibraryRegistration.xhtml">Vytvoř knihovnu</a>
                                    </li>
                                    <li>
                                        <a href="BookRegistration.xhtml">Vytvoř knihu</a>
                                    </li>
                                    <li>
                                        <a href="PublisherRegistration.xhtml">Vytvoř nakladatelství</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="authorContractPublisherRegistration.xhtml">Přidej smlouvu autor - nakladateství</a>
                            </li>
                            <li>
                                <a href="bookToLibraryRegistration.xhtml">Přidej knihu do knihovny</a>
                            </li>
                            <li>
                                <a href="publisherBookRegistration.xhtml">Vydat novou knihu</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
        </div>
    </ui:composition>

</f:view>
</html>
