<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:insert name="header">
    <ui:include src="cssLinks.xhtml"/>
</ui:insert>
<f:view>
    <ui:insert name="header" >
        <ui:include src="header.xhtml" />
    </ui:insert>
    <div id="content">
        <h1>Semestrální práce z předmětu Bi-SI - softwarové inženýrství.</h1>
        <h2>Paralelka 102, pondělní cvičení 12:45, username: sedlifil</h2>
    </div>
</f:view>
</html>
