<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<ui:insert name="header">
    <ui:include src="cssLinks.xhtml"/>
</ui:insert>

<f:view>
    <ui:insert name="header">
        <ui:include src="header.xhtml"/>
    </ui:insert>
    <div id="content">
        <h:form>
                    <h2>Vytvoř knihovnu</h2>
                    <h:panelGrid columns="3" styleClass="createForm">
                        <h:outputLabel for="nameLib">Jméno:</h:outputLabel>
                        <h:inputText id="nameLib" value="#{newLibraryR.name}"
                                     />
                        <h:message for="nameLib" errorClass="invalid"/>

                        <h:outputLabel for="addressLib">Adresa:</h:outputLabel>
                        <h:inputText id="addressLib" value="#{newLibraryR.address}"
                                     />
                        <h:message for="addressLib" errorClass="invalid"/>
                    </h:panelGrid>

                <p>
                    <h:panelGrid columns="2">
                        <h:commandButton id="registerLib"
                                         action="#{libraryRegistrationController.registerLibrary}"
                                         value="Vytvořit" styleClass="register"/>
                        <h:messages styleClass="messages"
                                    errorClass="invalid" infoClass="valid"
                                    warnClass="warning" globalOnly="true"/>
                    </h:panelGrid>


                </p>

        </h:form>

        <h:dataTable var="_member"
                     value="#{libraryRegistrationController.libraries}"
                     styleClass="showTable">
            <h:column>
                <f:facet name="header">Id</f:facet>
                #{_member.id}
            </h:column>
            <h:column>
                <f:facet name="header">Jméno</f:facet>
                #{_member.name}
            </h:column>
            <h:column>
                <f:facet name="header">Adresa</f:facet>
                #{_member.address}
            </h:column>

            <h:column>
                <f:facet name="header">REST URL</f:facet>
                <a href="#{request.contextPath}/rest/libraries/#{_member.id}">/rest/libraries/#{_member.id}</a>
            </h:column>
            <f:facet name="footer">
                REST URL for all libraries: <a href="#{request.contextPath}/rest/libraries">/rest/libraries</a>
            </f:facet>

        </h:dataTable>

        <p>

        </p>

    </div>
</f:view>
</html>
