<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:insert name="header">
    <ui:include src="cssLinks.xhtml"/>
</ui:insert>
<f:view>
    <ui:insert name="header">
        <ui:include src="header.xhtml"/>
    </ui:insert>
    <div id="content">
        <h:form>
            <h2>Vytvoř nakladatelství</h2>
            <h:panelGrid columns="3">
                <h:outputLabel for="nameP">Jméno:</h:outputLabel>
                <h:inputText id="nameP" value="#{newPublisherR.name}"/>
                <h:message for="nameP" errorClass="invalid"/>

                <h:outputLabel for="addressP">Adresa:</h:outputLabel>
                <h:inputText id="addressP" value="#{newPublisherR.address}"/>
                <h:message for="addressP" errorClass="invalid"/>
            </h:panelGrid>
            <p>
                <h:panelGrid columns="2">
                    <h:commandButton id="registerPub"
                                     action="#{publisherRegistrationController.registerPublisher}"
                                     value="Vytvořit" styleClass="register"/>
                    <h:messages styleClass="messages"
                                errorClass="invalid" infoClass="valid"
                                warnClass="warning" globalOnly="true"/>
                </h:panelGrid>

            </p>
        </h:form>

        <h:dataTable var="_member"
                     value="#{publisherRegistrationController.publishers}"
                     styleClass="showTable">
            <h:column>
                <f:facet name="header">Id</f:facet>
                #{_member.id}
            </h:column>
            <h:column>
                <f:facet name="header">Jméno</f:facet>
                #{_member.name}
            </h:column>
            <h:column>
                <f:facet name="header">Adresa</f:facet>
                #{_member.address}
            </h:column>

            <h:column>
                <f:facet name="header">REST URL</f:facet>
                <a href="#{request.contextPath}/rest/publishers/#{_member.id}">/rest/publishers/#{_member.id}</a>
            </h:column>
            <f:facet name="footer">
                REST URL for all publishers: <a href="#{request.contextPath}/rest/publishers">/rest/publishers</a>
            </f:facet>
        </h:dataTable>

        <p>
        </p>
    </div>
</f:view>
</html>
