<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
<ui:insert name="header">
    <ui:include src="cssLinks.xhtml"/>
</ui:insert>
<f:view>
    <ui:insert name="header">
        <ui:include src="header.xhtml"/>
    </ui:insert>
    <div id="content">
        <h1>Vydat novou knihu</h1>
        <h:form>
            <div class="box">
                <h2>Vyberte knihu</h2>
                <h:panelGrid columns="2">

                    <h:selectOneMenu value="#{publisherBookRegistrationController.newBookPBId}">
                        <f:selectItem itemLabel="-- vyberte knihu--" itemValue=""/>
                        <f:selectItems value="#{books}" var="book"
                                       itemLabel="Id: #{book.id}, isbn: #{book.isbn} , #{book.name}, #{book.title}"
                                       itemValue="#{book.id}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
            </div>

            <div class="box">
                <h2>Vyberte nakladatelství</h2>
                <h:panelGrid columns="2">

                    <h:selectOneMenu value="#{publisherBookRegistrationController.newPublisherPBId}">
                        <f:selectItem itemLabel="-- vyberte nakladatelství--" itemValue=""/>
                        <f:selectItems value="#{publishers}" var="publisher"
                                       itemLabel="Id: #{publisher.id}, jméno: #{publisher.name}, adresa:  #{publisher.address}"
                                       itemValue="#{publisher.id}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
            </div>
            <h:panelGrid columns="2">
                <h:commandButton id="register"
                                 action="#{publisherBookRegistrationController.registerBookToPublisher}"
                                 value="Vydat novou knihu" styleClass="register"/>
                <h:messages styleClass="messages"
                            errorClass="invalid" infoClass="valid"
                            warnClass="warning" globalOnly="true"/>
            </h:panelGrid>
        </h:form>

        <h2>Nakladatelství s vydanými knihami</h2>
        <p>
            <p:dataTable var="_member"
                         value="#{publisherRegistrationController.publishers}"
                         styleClass="showTable">
                <p:columnGroup type="header">
                    <p:row>
                        <p:column headerText="Id" />
                        <p:column headerText="ISBN" />
                        <p:column headerText="Jméno" />
                        <p:column headerText="Žánr" />
                        <p:column headerText="Datum vydání" />
                    </p:row>
                </p:columnGroup>
                <p:subTable var="_book" value="#{_member.books}">
                    <f:facet name="header">
                        <p:outputLabel value="Nakladatelství: #{_member.name}, adresa: #{_member.address}"/>
                    </f:facet>
                    <p:column>
                        #{_book.id}
                    </p:column>
                    <p:column>
                        #{_book.isbn}
                    </p:column>
                    <p:column>
                        #{_book.name}
                    </p:column>
                    <p:column>
                        #{_book.title}
                    </p:column>
                    <p:column>
                        #{_book.publishDate}
                    </p:column>
                </p:subTable>
            </p:dataTable>
        </p>


    </div>
</f:view>
</html>
