body{
    background-color: white;
}

#content {
    width: 760px ;
    margin-left: auto ;
    margin-right: auto ;
    display: block;
    overflow: hidden;
}

h1, h2 {
    text-align: center;
    color: #0099cc;
}
table{
    margin: 0 auto;
}

th {
    text-align: left;
    font-weight: bold;
}

table.cyanTemplate{
    border-collapse: collapse;
}
.cyanTemplate td, .cyanTemplate th {
    border: 1px solid #ddd;
    padding: 8px;
}
.cyanTemplate tr{background-color: papayawhip;}
.cyanTemplate td.colspan{colspan: 2;}

.cyanTemplate tr:nth-child(even){background-color: aliceblue;}

.cyanTemplate tr:hover {background-color: #ddd;}

.cyanTemplate th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0099cc;
    color: white;
}

.selectMenu{
    margin: 1px auto;
}

section{
    min-height: 800px;
    width: 760px ;
    margin: 50px auto;
    display: block;
    overflow: hidden;
    background-color: #f2f2f2;
}

div.introduction{
    background: #0099cc;
    font-size: 22px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    height: 100px;
    padding-top: 50px;
}