@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: #eee;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin:0px;
    padding:0px;
}

nav ul a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #000;
}


#wrap {
    margin: 0 auto;
}
nav {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #333333;
    height: 90px;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 20%;
}

nav > ul > li {
    float: left;
    margin: 0;
    display: inline-block;
    color: #eee;
    font-size: 14px;
    line-height: 14px;
    padding: 45px 0 25px 0;
    text-decoration:none;
    position: relative;
    text-align: left;
    margin-left: 30px;

}
nav ul > li > a{
    padding: 45px 0 29px 0;
}


nav > ul > li > ul {
    display: none;
    margin:0;
    padding:31px 0 0 0;
    list-style: none;
    position: absolute;
    width: 150px;
}

nav > ul > li > ul > li {
    position: relative;
}

nav > ul > li > ul > li a{
    background-color: #333;
    border: 1px solid #444;
    border-top: none;
    color: #bbb;
    display: block;
    font-size: 12px;
    line-height: 15px;
    padding: 10px 12px;
}
nav > ul > li > ul > li a:hover {
    background-color: #2a2a2a;
    color: #fff;
}


nav > ul > li:hover > ul {
    display:block;
}

nav > ul > li > ul > li:first-child {
    border-top: 3px solid #23dbdb;
}






nav ul > li.parent {
    background-size: 7px 7px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 14px;

}


nav > ul > li:hover > a,
nav > ul > li.current-menu-item {
    color: #23dbdb;
}


nav li:hover > ul.sub-menu {
    display: block; /* show the submenu */
}

.relative {
    position: relative;
}

.right {
    float: right;
}

.left {
    float: left;
}


.plusMenu {
    position: relative;
    /* Adjust these values accordingly */
    left: 5px;
    height: 10px;
}

